.albumSection {
  display: flex;
  flex-wrap: wrap;
  min-height: 80%;

  .albumImage {
    width: 50%;

    @media only screen and (max-width: 1200px) {
      width: 100%;
    }

    img {
      width: 75%;

      @media only screen and (max-width: 1200px) and (min-width: 900px) {
        width: 50%;
      }
      @media only screen and (max-width: 900px) {
        width: 75%;
      }
      margin: auto;
      margin-top: 30px;
    }
  }

  .albumText {
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
    position: relative;

    .textCollection {
      @media only screen and (min-width: 1200px) {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      .fa, .fab {
        font-size: 4rem;
        padding: 0 2rem;
        transition: font-size 300ms;

        &:hover {
          font-size: 5rem;
        }
      }
    }

    h2 {
      font-family: $heading-font;
      font-size: 5.5em;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 30px;
      max-width: 600px;
    }

    h3 {
      color: $background-color;
      font-family: $heading-font-2;
      margin-top: 0.5em;

      &.emphasised {
        font-style: italic;
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
      width: 100%;

      h2 {
        font-size: 4.5em;
      }

      h3 {
        font-size: 2.5em;
      }
    }

    @media only screen and (max-width: 900px) {
      width: 100%;

      h2 {
        font-size: 3em;
      }

      h3 {
        font-size: 2em;
      }
    }

  }

  clear: both;
}