/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  perspective: 2000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;

  min-height: 450px;
  @media only screen and (max-width: 400px) {
    min-height: 50px;
  }

  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
  img.disk {
    opacity: 0;
    transition: opacity 0.1s;

    &:hover {
      transform: translateX(-100%);
    }
  }
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.albumImage {
  .flip-card-front {
    img {
      z-index: 10;
      position: relative;
    }

    img.disk {
      top: 5px;
      width: 51%;
      position: absolute;
      z-index: 1;
      transform: translateX(-90%);
      opacity: 1;
      transition: opacity 2s, transform 1s;
    }

    img.disk:hover{
      transform: translateX(0%);
    }
  }
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
