.gigSection {
  background: linear-gradient(
                  rgba(25, 45, 163, 0.55),
                  rgba(25, 45, 163, 0.55)
  ),
  url('/underground-gig.jpg'),
  linear-gradient(
                  rgba(0, 0, 0, 1),
                  rgba(0, 0, 0, 1)
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}


table {
  text-align: left;
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 1em;
}

.gigSection tr {
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 2rem;
  text-transform: uppercase;
  vertical-align: top;
  border-bottom: $secondary-color 3px solid;

  &:last-child {
    border-bottom: none;
  }

  td {
    padding: 15px 5px;
  }

  &.hasLink:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gigDate {
  width: 20%;
  text-align: right;
}

.gigVenue {
  width: 27.5%;
  color: white;
}

.gigLocation {
  width: 32.5%;
  text-align: right;
}

.buyNow {
  width: 20%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .gigSection {
    padding-top: 30px;
  }

  .gigVenue, .gigLocation {
    width: 65%;
    display: block;
    text-align: left;
  }

  tr td.gigVenue {
    padding-bottom: 0;
  }
  tr td.gigLocation {
    padding-top: 0;
  }
}


