//@font-face {
//  font-family: "Da Streets";
//  src: url('/DaStreets.eot');
//  src: url('/DaStreets.eot?#iefix') format('embedded-opentype'),
//  url('/DaStreets.woff') format('woff'),
//  url('/DaStreets.ttf') format('truetype');
//}

@font-face {
  font-family: "Voga";
  src: url('/Voga.otf');
  //src: url('/DaStreets.eot?#iefix') format('embedded-opentype'),
  //url('/DaStreets.woff') format('woff'),
  //url('/DaStreets.ttf') format('truetype');
}

@font-face {
  font-family: "Korinna";
  src: url('/Korinna.otf');
  //src: url('/DaStreets.eot?#iefix') format('embedded-opentype'),
  //url('/DaStreets.woff') format('woff'),
  //url('/DaStreets.ttf') format('truetype');
}

@font-face {
  font-family: "Bebas";
  src: url('/BebasNeue-Regular.otf');
  //src: url('/BebasNeue-Regular.eot'),
  //url('/BebasNeue-Regular.wof');
  //src: url('/DaStreets.eot?#iefix') format('embedded-opentype'),
  //url('/DaStreets.woff') format('woff'),
  //url('/DaStreets.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');

$background-color: #0e2542;
$background-color-opaque: rgba(14, 37, 96, 0.55);
$secondary-color: #e7bb31;
$white: #EFF1F3;

$primary-font: 'Pathway Gothic One', sans-serif;
$secondary-font: 'Bebas';
$heading-font: 'Korinna';
$heading-font-2: 'Bebas';
//$primary-font: 'Bebas', sans-serif;

@import "styles/gigs";
@import "styles/bird";
@import "styles/video";
@import "styles/album";

html {
  height: 100%;
}
body {
  background-color: $white;
}

.fa {
  font-size: 4rem;
  padding: 0 2rem;
}

a {
  color: $background-color;
  margin: 15px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#social_icons {
  margin: auto;
  margin-top: 30px;
  padding-top: 45px;
  margin-bottom: 30px;
  text-align: center;
  clear: both;
}

.header {
  overflow: auto;

  h3 {
    display: inline-block;
    width: auto;
    float: left;
    margin: 0;
    font-size: 2.5rem;
    padding: 15px;
  }

  ul {
    float: right;

    li {
      list-style: none;
      display: inline-block;
      font-family: $primary-font;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    h3 {
      float: none;
    }

    ul {
      float: none;
    }
  }
}


h2 {
  text-align: center;
  font-family: 'Voga';
  font-size: 6rem;
  color: $background-color;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-family: 'Voga';
  font-size: 3rem;
}

h3 span {
  font-family: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}

.birdSection {
  height: 80vh;
  padding-bottom: 30px;
}

.videoSection iframe {
  width: 100vw;
  height: 80vh;
}

.musicSection {
  height: 80vh;
  background-color: rgb(14, 14, 15);
  position: relative;

  .spotifyFollow {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  @media only screen and (max-width: 900px) {
    .spotifyFollow {
      display: none;
    }
  }

  .SpotifyPlayer {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;
  }
}

.merchSection a h2 {
  margin: 15px;
  color: #E6D25C;
}

