.fa {
  font-size: 4rem;
  padding: 0 2rem;
}

a {
  color: #192da3;
  margin: 15px;
  text-decoration: none;
}

svg {
  max-width: 90vh;
  margin: auto;
  display: block;
}

#social_icons {
  margin: auto;
  text-align: center;
}

@keyframes poop1 {
  0%   {
    fill: #192da3;
    stroke: #192da3;
  }
  33% {
    fill: #fff;
    stroke: #fff;
  }
}
@keyframes poop2 {
  0%   {
    fill: #192da3;
    stroke: #192da3;
  }
  66% {
    fill: #fff;
    stroke: #fff;
  }
}

#poop1 {
  animation: poop1 1s infinite;
  animation-timing-function: steps(1, end);
}

#poop2 {
  animation: poop2 1s infinite;
  animation-timing-function: steps(1, end);
}

h2 {
  text-align: center;
  font-family: 'Da Streets';
  font-size: 4rem;
  color: #192da3;
  margin-bottom: 0;
}
.App {
  text-align: center;
}

iframe {
  width: 100vw;
  height: 100vh;
}

