@font-face {
  font-family: "Voga";
  src: url('/Voga.otf');
}

@font-face {
  font-family: "Korinna";
  src: url('/Korinna.otf');
}

@font-face {
  font-family: "Nimbus";
  src: url('/Nimbus.ttf');
}

@font-face {
  font-family: "Bebas";
  src: url('/BebasNeue-Regular.otf');
}

@font-face {
  font-family: "Badoni";
  src: url('/BodoniSvtyTwoOSITCTT-BookIt-02.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');

$new-green: #3cb148;
// 67, 182, 75

$background-color: #0e2542;
$background-color: #EFF1F3;
$background-color: $new-green;
$background-color-opaque: rgba(12, 37, 66, 0.65);
$secondary-color: #e7bb31;
$gigs-color: rgb(132, 184, 96);
// $text-color: #0e2542;
$text-color: black;

// $primary-font: 'Pathway Gothic One', sans-serif;
$primary-font: 'Nimbus', sans-serif;
$secondary-font: 'Bebas';
// $heading-font: 'Korinna';
$heading-font: 'Nimbus';
$heading-font-2: 'Bebas';
//$primary-font: 'Bebas', sans-serif;

@import "styles/gigs";
@import "styles/bird";
@import "styles/video";
@import "styles/album";

html {
  height: 100%;
}

a, p {
  color: $background-color;
  transition: color 1s;
  margin: 15px;
  text-decoration: none;
}

a:hover {

  transition: color 1s;
  text-decoration: underline;
}


@mixin verticalAlign() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  padding: 30px 15px;
  overflow: auto;

  @media only screen and (max-width: 900px) {
    margin-bottom: 30px;
  }

  #logo_section {
    width: 175px;
    float: left;
    position: relative;

    @media only screen and (max-width: 900px) {
      width: 100px;
    }
  }

  #contact_section {
    float: right;
    text-align: right;
    padding: 45px 15px;

    @media only screen and (max-width: 900px) {
      padding: 0px 7.5px;
      padding-bottom: 30px;
    }
  }

  #social_icons {
    float: right;
    padding: 60px 15px;

    position: relative;
    .fa {
      font-size: 3rem;
      transition: color 500ms;

      &:hover {
          color: white;
      }
    }

    @media only screen and (max-width: 900px) {
      padding: 45px 7.5px;
      .fa {
        font-size: 2rem;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.header {
  overflow: auto;

  h3 {
    display: inline-block;
    width: auto;
    float: left;
    margin: 0;
    font-size: 2.5rem;
    padding: 15px;
  }

  ul {
    float: right;
    padding-inline-start: 0;

    li {
      list-style: none;
      display: inline-block;
      font-family: $primary-font;
      // font-family: $primary-font;
      text-transform: uppercase;
      font-size: 2rem;
      text-transform: lowercase;
    }
  }

  @media only screen and (max-width: 600px) {
    h3 {
      float: none;
    }

    ul {
      float: none;
    }
  }
}


h2 {
  text-align: center;
  font-family: 'Nimbus';
  font-size: 6rem;
  color: $background-color;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-family: 'Nimbus';
  font-size: 3rem;
}

h3 span {
  font-family: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  background-color: $text-color;
  transition: background-color 0.5s;
  overflow: auto;
}

.home {
  @include colouredImage('/BackgroundImage.png', rgba(0, 0, 0, 0.6));
}

.merchandise {
  background-color: $secondary-color;

  a, p {
    color: black;
  }
}

.gigs {
  background-color: $gigs-color;
  a, p{
    color: black;
  }
}

.videos {
  background-color: white;
  a, p {
    color: black;
  }
}

.music {
  background-color: #ffb347;
  a, p {
    color: black;
  }
}

#root {
  min-height: 100%;
  height: 100%;
}

.birdSection {
  height: 80vh;
  padding-bottom: 30px;
}

.videoSection iframe {
  width: 100vw;
  height: 80vh;
}

.musicSection {
  height: 80vh;
  background-color: rgb(14, 14, 15);
  position: relative;

  .spotifyFollow {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  @media only screen and (max-width: 900px) {
    .spotifyFollow {
      display: none;
    }
  }

  .SpotifyPlayer {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;
  }
}

